<!-- templates/free_slot.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Parking Slot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>🚘 Free Your Parking Slot</h2>

    <div class="card">
    <h2>🚗 Exit Summary</h2>
    <p><strong>Vehicle:</strong> {{ license_plate }} {{ vehicle_type }}</p>
    <p><strong>Slot Freed:</strong> {{ slot_id }}</p>
    <p><strong>Entry Time:</strong> {{ entry_time }}</p>
    <p><strong>Exit Time:</strong> {{ exit_time }}</p>
    <p><strong>Duration:</strong> {{ duration }}</p>
    <h3>💰 Amount to Pay: ₹{{ amount }}</h3>

    <p>Thank you for using Smart Parking! 👋</p>
</body>
</html>
